<h1>Lista de productos</h1>

<ul>
  {{#each listProduct}}
    <br>
    <br>
    <li>ID: {{this.id}}</li>
    <li>Title: {{this.title}}</li>
    <li>Description: {{this.description}}</li>
    <li>Code: {{this.code}}</li>
    <li>Price: {{this.price}}</li>
    <li>Stock: {{this.stock}}</li> 
    <li>Category: {{this.category}}</li>
  {{/each}}
</ul>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>